.HamsterCard {
   margin: 2rem 0 2rem 0;
   width: 250px;
   height: 100%;
   background-color: #fff;
   box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.5);
}

.header {
   width: 100%; 
   font-size: 1.3em;
   text-align: center;
   font-weight: 500;
}




.hamsterImage {
   width: 250px;
   height: 180px;
   object-fit: cover;
}