.HamsterCard {
   margin: 2rem 0 2rem 0;
   width: 250px;
   height: 100%;
   border-radius: 5px;
   background-color: #fdfdf8;
   box-shadow: 1px 1px 3px 1px rgba(107, 107, 107, 0.5);
   cursor: pointer;
}

.textArea {
   padding:5px;
}
.textArea span {
   font-weight: bold;
}

.hamsterImage {
   width: 250px;
   height: 180px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   object-fit: cover;
}